<div class="card rounded shadow-sm">
<form>
  <div class="p-3">
    <div class="form-row">
      <div class="form-group col-md-12">
        <label>Thema</label>
        <input type="text" class="form-control" placeholder="Insert the Thema">
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-8">
        <label>Location</label>
        <input type="text" class="form-control" placeholder="">
      </div>
      <div class="form-group col-md-4">
        <label>Date and hour</label>
        <input type="datetime" class="form-control" placeholder="">
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-2">
        <label>Total people</label>
        <input type="text" class="form-control" placeholder="">
      </div>
      <div class="form-group col-md-4">
        <label>Phone</label>
        <input type="text" class="form-control" placeholder="(000) 90000-0000">
      </div>
      <div class="form-group col-md-6">
        <label>Email</label>
        <input type="text" class="form-control" placeholder="e-mail">
      </div>
    </div>
  </div>
  <div class="card-footer">
    <div class="d-flex">
      <button class="btn btn-outline-secondary mr-auto border" routerLink="/events/list">
        Cancel Change
      </button>
      <button class="btn btn-success">
        <span class="spinner-border spinner-border-sm mr-1"></span>
        Save Event
      </button>
    </div>
  </div>
</form>
</div>