<h2>Events</h2>
<hr/>

<div action="" class="form-inline">
  <div class="form-group mb-2">
    <label class="mr-2">Filter: </label>
    <input 
    type="text" 
    class="form-control mr-2" 
    placeholder="search"
    [(ngModel)]="filterList">
  </div>
</div>
<table class="table table-striped">
  <thead class="thead-dark">
    <tr>
      <th>
        <button type="button" class="btn btn-outline-light btn-sm"
        (click)="showImage()">
        <i class="{{!showImgState ? 'fa fa-eye' : 'fa fa-eye-slash'}}"></i>
          {{!showImgState ? 'Show' : 'Hide'}}
        </button>
      </th>
      <th>#</th>
      <th>Theme</th>
      <th>Place</th>
      <th>Date</th>
      <th>Total People</th>
      <th>Ticket Batch</th>
      <th>Options</th>
    </tr>
  </thead>
  <tbody *ngIf="events && events.length">
    <tr *ngFor="let event of filtredEvents">
      <td>
        <img [collapse]="!showImgState" [isAnimated]="true" src="/assets/{{event.urlImage}}" alt=""
          [style.width.px]="widthImg"
          [style.margin.px]="marginImg"
        >
      </td>
      <td>{{event.id}}</td>
      <td>{{event.theme}}</td>
      <td>{{event.place}}</td>
      <td>{{event.eventDate | DateTimePipe}}</td>
      <td>{{event.totalPeople}}</td>
      <td>{{event.batches[0]?.name | uppercase}}</td>
      <td>
        <button type="button" class="btn btn-primary btn-sm mr-2">
          <i class="fa fa-edit"></i>
        </button>
        <button type="button" class="btn btn-danger btn-sm">
          <i class="fa fa-trash"></i>
        </button>
      </td>
    </tr>
  </tbody>
  <tfoot *ngIf="!events.length">
    <tr>
      <td colspan="8" class="text-center">
        <h4>Events not found</h4>
      </td>
    </tr>
  </tfoot>
</table>